# --- NODE.JS / BACKEND (RAIN) ---
node_modules/
.env
.env.local
.vscode/

# --- ANDROID (RAI) ---
.gradle/
local.properties
.idea/
build/
*.iml
.DS_Store

# --- SISTEMSKO ---
Thumbs.db
desktop.ini

# --- ORV python ---
venv/
__pycache__/
*.py[cod]
*.py[cod]
*.ipynb_checkpoints/
# --- ORV PODATKI ---
# Ignorira mapo z generiranimi/obdelanimi slikami (ker jih je 1000+ in jih lahko sami generirate iz surovih podatkov z preobdelava.py)
ORV/dataset/obdelani_podatki/