# --- NODE.JS / BACKEND (RAIN) ---
node_modules/
.env
.env.local
.vscode/

# --- ANDROID (RAI) ---
.gradle/
local.properties
.idea/
build/
*.iml
.DS_Store

# --- SISTEMSKO ---
Thumbs.db
desktop.ini

# --- ORV python ---
venv/
__pycache__/
*.py[cod]
