MONGO_URI=tukaj_vstavi_atlas_naslov..../pametni_paketnik?retryWrites=true&w=majority
PORT=3000
#TO JE SAMO EXAMPLE NE SPREMINJAJ TEGA NAREDI NOV FILE 
# Z IMENOM ".env" IN NOTRI DAJ TO KAR PISE ZGORAJ!
#PAZI DA DOPIŠEŠ pametni_paketnik?retryWrites=true&w=majority NA KONCU da ve v kero bazo more it!
