#Naredi nov file `.env`, kopiraj to kar je tu notri in vstavi dejanski link (isti kot pri RAI .env). Ne commitaj `.env` v repository.
# Primer:
# MONGO_URI=mongodb+srv://user:password@cluster0.example.mongodb.net/pametni_paketnik?retryWrites=true&w=majority

MONGO_URI=

# Opcijsko lahk overridas te settinge tuki
# MODEL_PATH=model/resnet18_prepoznava_obrazov.pth
# AUTH_THRESHOLD=0.80
